<launch>

  <include file="$(find leap_motion)/launch/leap_camera.launch" />
  <include file="$(find leap_motion)/launch/leap_stereo.launch" />

  <include file="$(find razor_imu_9dof)/launch/razor-pub-and-display.launch" />

  <node name="gest" pkg="$(find gaitest)" type="gest2" />

  <node name="view" pkg="rviz" type="rviz" output="screen" args="-d $(find gaitest)/rviz_config.rviz" />

</launch>